node_modules/
dist/
.DS_Store
.env.local
public/assets/music/*.mp3
public/assets/photos/913aa6d6-7c4e-4972-b028-4efd50f08c3a.JPG
public/assets/photos/e66b6923-a257-4a82-a633-f1ff97bc5b88.JPG
public/assets/photos/IMG_8389.jpeg
public/assets/photos/IMG_8412.jpeg
public/assets/photos/IMG_8441.jpeg
public/assets/photos/shreya-at-dinner.jpeg
public/assets/photos/us-at-the-view.jpeg
public/assets/photos/memory-1.svg
public/assets/photos/memory-2.svg
public/assets/photos/memory-3.svg
public/assets/photos/shreya-1.svg
public/assets/photos/us-1.svg
public/assets/photos/Gemini_Generated_Image_all4xiall4xiall4.png
public/assets/photos/shreya-became-a-doctor.png
